@Html.Partial("header.cshtml")

<h1> Edit Client @Model.GetName()</h1>
<form action="/stylist/client/update" method="post">
  <input type="hidden" name="id" value="@Model.GetId()">
  <label for="name">Update Name:</label><input type="text" name="name" value="@Model.GetName()" autofocus>
  <input type="submit" value="Update Client">
</form>