@Html.Partial("header.cstml")

<h1> Stylist: @Model.GetName() </h1>

<h3> Clients: </h3>

<ul>
  @foreach(var item in Model.GetClients() )
  {
    <li>item.GetName()</li>
  }
</ul>

<form action="/stylist/@Model.GetId()/addClient" method="post">
<label for="name">Client Name:</label><input type="text" name="name">
<input type="submit" value="Add Client">
</form>