@Html.Partial("header.cshtml")

<h1>All Stylists:</h1>

<ul class="stylistList">
  @foreach(var item in Model)
  {
    <li><a href="/stylist/@item.GetId()">@item.GetName()</a><a href="/stylist/@item.GetId()/delete">Delete Stylist</a></li>
  }
</ul>

<form action="/addStylist" method="post">
<label for="name">Stylist Name:</label><input type="text" name="name" autofocus>
<input type="submit" name="submit" value="Add Stylist">
</form>