@Html.Partial("header.cshtml")

<h1> Stylist: @Model.GetName() </h1>
@if(@Model.GetClients().Count > 0)
{
  <h3> Clients: </h3>
  <p>Click to edit</p>
  <ul class="stylistList">
    @foreach(var item in @Model.GetClients() )
    {
      <li><a href="/stylist/@Model.GetId()/client/@item.GetId()/edit">@item.GetName()</a><a href="/stylist/@Model.GetId()/client/@item.GetId()/delete">Delete Client</a></li>
    }
  </ul>
} else {
  <h3>No Clients Added Yet</h3>
}

<form action="/stylist/@Model.GetId()/addClient" method="post">
<label for="name">Client Name:</label><input type="text" name="name" autofocus>
<input type="submit" value="Add Client">
</form>

<a href="/" class="link">Go Back to list of stylists</a>
<a href="/stylist/@Model.GetId()/edit" class="link"> Edit This Stylsit</a>